## POSTTEST 4
### Data Pre-Processing
#### Muhammad Basith Algiffari
#### 2009106071

#### Mengimport Library yang diperlukan

In [113]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

In [141]:
df = pd.read_csv('Obesitas.csv')

In [142]:
df

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

### Membagi Dataset menjadi training set dan testing set
- Training Set : 70%
- Testing Set : 30%

In [116]:
train_data = data_rusak[['Gender','Age','Height','Weight','family_history_with_overweight','FAVC','FCVC','NCP','CAEC','SMOKE','CH2O','SCC','FAF','TUE','CALC','MTRANS']]
label_data = data_rusak['NObeyesdad']

Pada parameter test_size isi dengan nilai .3 yang mengindikasikan bahwa proporsi data testing akan sebesar 30% dari dataframe

In [117]:
x_train, x_test, y_train, y_test = train_test_split(train_data, label_data, test_size=.3)

Menampilkan Jumlah Data Train, Data Test, Label Train, Label Test, dan total dataset

In [118]:
print('Jumlah Data Train\t: %d Data' % len(x_train),
      'Jumlah Label Train\t: %d Data' % len(y_train),
      'Jumlah Data Test\t: %d Data' % len(x_test),
      'Jumlah Label Test\t: %d Data' % len(y_test),
      'Jumlah Record\t\t: %d Data' % len(data_rusak),
      sep='\n')

Jumlah Data Train	: 1477 Data
Jumlah Label Train	: 1477 Data
Jumlah Data Test	: 634 Data
Jumlah Label Test	: 634 Data
Jumlah Record		: 2111 Data

Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler.

In [119]:
MinMaxScaler = MinMaxScaler()

Menyalin Dataset yang akan dinormalisasi

In [120]:
dataCopyNormalisasi = df.copy()

Fungsi fit_transform untuk melakukan penskalaan

In [121]:
dataNormalisasi = MinMaxScaler.fit_transform(dataCopyNormalisasi[['Age']])

Mengubah data nomalisasi menjadi Data Frame

In [122]:
dataHasilNormalisasi = pd.DataFrame(dataNormalisasi)

Merename Column sesuai dengan urutannya

In [123]:
dataHasilNormalisasi.rename(columns={0:'Age'}, inplace=True)

Menampilkan Hasil Normalisasi

In [124]:
dataHasilNormalisasi

           Age
0     0.148936
1     0.148936
2     0.191489
3     0.276596
4     0.170213
...        ...
2106  0.148443
2107  0.169850
2108  0.181362
2109  0.220467
2110  0.205632

[2111 rows x 1 columns]

In [125]:
np.std(dataHasilNormalisasi)

Age    0.134989
dtype: float64

Lakukan standarisasi pada dataset menggunakan Standard Scaler, dan memanggil fungsi standarScaler

In [126]:
StandardScaler = StandardScaler()

Menyalin Dataset yang akan dinormalisasi

In [127]:
dataCopyStandarScaler = df.copy()

Fungsi fit_transform untuk melakukan penskalaan

In [128]:
dataStandarScaler = MinMaxScaler.fit_transform(dataCopyStandarScaler[['Age']])

Mengubah data nomalisasi menjadi Data Frame

In [129]:
dataHasilStandarScaler = pd.DataFrame(dataStandarScaler)

Merename Column sesuai dengan urutannya

In [130]:
dataHasilStandarScaler.rename(columns={0:'Age'}, inplace=True)

Menampilkan Hasil Normalisasi

In [131]:
dataHasilStandarScaler

           Age
0     0.148936
1     0.148936
2     0.191489
3     0.276596
4     0.170213
...        ...
2106  0.148443
2107  0.169850
2108  0.181362
2109  0.220467
2110  0.205632

[2111 rows x 1 columns]

In [132]:
print('Dataset sebelum standarisasi:',
      dataCopyStandarScaler,
      f'Nilai standar deviasi:\n{np.std(dataCopyStandarScaler)}',
      sep='\n', end='\n\n')

print('Dataset setelah standarisasi:',
      dataStandarScaler,
      f'Nilai standar deviasi: {np.std(dataStandarScaler)}',
      sep='\n')

Dataset sebelum standarisasi:
      Gender        Age    Height      Weight family_history_with_overweight  \
0     Female  21.000000  1.620000   64.000000                            yes
1     Female  21.000000  1.520000   56.000000                            yes
2       Male  23.000000  1.800000   77.000000                            yes
3       Male  27.000000  1.800000   87.000000                             no
4       Male  22.000000  1.780000   89.800000                             no
...      ...        ...       ...         ...                            ...
2106  Female  20.976842  1.710730  131.408528                            yes
2107  Female  21.982942  1.748584  133.742943                            yes
2108  Female  22.524036  1.752206  133.689352                            yes
2109  Female  24.361936  1.739450  133.346641                            yes
2110  Female  23.664709  1.738836  133.472641                            yes

     FAVC  FCVC  NCP       CAEC SMOKE      CH2O  SCC       FAF       TUE  \
0      no   2.0  3.0  Sometimes    no  2.000000   no  0.000000  1.000000
1      no   3.0  3.0  Sometimes   yes  3.000000  yes  3.000000  0.000000
2      no   2.0  3.0  Sometimes    no  2.000000   no  2.000000  1.000000
3      no   3.0  3.0  Sometimes    no  2.000000   no  2.000000  0.000000
4      no   2.0  1.0  Sometimes    no  2.000000   no  0.000000  0.000000
...   ...   ...  ...        ...   ...       ...  ...       ...       ...
2106  yes   3.0  3.0  Sometimes    no  1.728139   no  1.676269  0.906247
2107  yes   3.0  3.0  Sometimes    no  2.005130   no  1.341390  0.599270
2108  yes   3.0  3.0  Sometimes    no  2.054193   no  1.414209  0.646288
2109  yes   3.0  3.0  Sometimes    no  2.852339   no  1.139107  0.586035
2110  yes   3.0  3.0  Sometimes    no  2.863513   no  1.026452  0.714137

            CALC                 MTRANS           NObeyesdad
0             no  Public_Transportation        Normal_Weight
1      Sometimes  Public_Transportation        Normal_Weight
2     Frequently  Public_Transportation        Normal_Weight
3     Frequently                Walking   Overweight_Level_I
4      Sometimes  Public_Transportation  Overweight_Level_II
...          ...                    ...                  ...
2106   Sometimes  Public_Transportation     Obesity_Type_III
2107   Sometimes  Public_Transportation     Obesity_Type_III
2108   Sometimes  Public_Transportation     Obesity_Type_III
2109   Sometimes  Public_Transportation     Obesity_Type_III
2110   Sometimes  Public_Transportation     Obesity_Type_III

[2111 rows x 17 columns]
Nilai standar deviasi:
Age        6.344465
Height     0.093283
Weight    26.184968
FCVC       0.533800
NCP        0.777854
CH2O       0.612808
FAF        0.850391
TUE        0.608783
dtype: float64

Dataset setelah standarisasi:
[[0.14893617]
 [0.14893617]
 [0.19148936]
 ...
 [0.18136247]
 [0.22046672]
 [0.20563211]]
Nilai standar deviasi: 0.1349886175338395

c:\Users\muham\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:3571: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

## Data Cleaning

In [183]:
data_rusak = pd.read_csv('obes_rusak.csv')

Menampilkan data yang sudah dirusak sebelumnya

In [184]:
data_rusak

,Unnamed: 0,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,3,Male,27.000000,1.800000,NaN,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,NaN,Overweight_Level_I
4,4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2125,2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2126,2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2127,2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2128,2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2129,2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

## Melakukan Pengecekan data null dan  data duplikat
- data_rusak.isna().sum() untuk mendapatkan jumlah data null
- data_rusak.duplicated().sum() untuk mendapatkan jumlah data duplikat

In [185]:
data_rusak.isna().sum()

Unnamed: 0                         0
Gender                             0
Age                                0
Height                            57
Weight                            99
family_history_with_overweight     0
FAVC                               0
FCVC                               0
NCP                                0
CAEC                               0
SMOKE                              0
CH2O                               0
SCC                                0
FAF                                0
TUE                                0
CALC                               0
MTRANS                            63
NObeyesdad                         0
dtype: int64

In [181]:
data_rusak.duplicated().sum()

19

Menampilkan informasi setiap atribut yang dimiliki oleh data_rusak

In [175]:
data_rusak.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2130 entries, 0 to 2129
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      2130 non-null   int64
 1   Gender                          2130 non-null   object
 2   Age                             2130 non-null   float64
 3   Height                          2073 non-null   float64
 4   Weight                          2031 non-null   float64
 5   family_history_with_overweight  2130 non-null   object
 6   FAVC                            2130 non-null   object
 7   FCVC                            2130 non-null   float64
 8   NCP                             2130 non-null   float64
 9   CAEC                            2130 non-null   object
 10  SMOKE                           2130 non-null   object
 11  CH2O                            2130 non-null   float64
 12  SCC                             2130 non-null   object
 13  FAF                             2130 non-null   float64
 14  TUE                             2130 non-null   float64
 15  CALC                            2130 non-null   object
 16  MTRANS                          2067 non-null   object
 17  NObeyesdad                      2130 non-null   object
dtypes: float64(8), int64(1), object(9)
memory usage: 299.7+ KB

Menyalin dataset rusak agar tidak mengubah isi dari dataset aslinya

In [190]:
dataCleanNullCopy = data_rusak.copy()

### Data Cleaning untuk attribut numerik
- impute_mean = SimpleImputer(strategy='mean') untuk membuat fungsi mengubah nilai null dengan mean
- impute_median = SimpleImputer(strategy='median') untuk membuat fungsi mengubah nilai null dengan median
- impute_modus = SimpleImputer(strategy='most_frequent') untuk membuat fungsi mengubah nilai null dengan modus

In [179]:
mean = SimpleImputer(strategy='mean')
median = SimpleImputer(strategy='median')
modus = SimpleImputer(strategy='most_frequent')

## Data Cleaning : Data yang memiliki nilai Null
- kolom weight menggunakan strategi mean
- kolom height menggunakan strategi median
- kolom MTRANS menggunakan strategi mdous

In [191]:
#Mengubah data dengan menggunakan strategy mean
dataCleanNullCopy['Weight'] = mean.fit_transform(dataCleanNullCopy[['Weight']])
#Mengubah data dengan menggunakan strategy median
dataCleanNullCopy['Height'] = median.fit_transform(dataCleanNullCopy[['Height']])
#Mengubah data dengan menggunakan strategy modus
dataCleanNullCopy['MTRANS'] = modus.fit_transform(dataCleanNullCopy[['MTRANS']])

#### Mengecek Data Null setelah di cleaning

In [192]:
dataCleanNullCopy.isna().sum()

Unnamed: 0                        0
Gender                            0
Age                               0
Height                            0
Weight                            0
family_history_with_overweight    0
FAVC                              0
FCVC                              0
NCP                               0
CAEC                              0
SMOKE                             0
CH2O                              0
SCC                               0
FAF                               0
TUE                               0
CALC                              0
MTRANS                            0
NObeyesdad                        0
dtype: int64

### Data Cleaning : Data yang duplikat

In [189]:
data_rusak.duplicated().sum()

19

Menyalin dataset rusak agar tidak mengubah isi dari dataset aslinya

In [194]:
dataCleanDuplicateCopy = data_rusak.copy()

Melakukan pembersihan data yang duplikat

In [197]:
dataCleanDuplicateCopy.drop_duplicates(inplace=True)

Mengecek apakah data sudah bersih

In [199]:
dataCleanDuplicateCopy.duplicated().sum()

0

### Mengganti salah satu attribut angka

In [214]:
dataChangeCopy = df.copy()

Mengecek tipe - tipe dari attribute yang ada

In [215]:
dataChangeCopy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   object
 1   Age                             2111 non-null   float64
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   family_history_with_overweight  2111 non-null   object
 5   FAVC                            2111 non-null   object
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   CAEC                            2111 non-null   object
 9   SMOKE                           2111 non-null   object
 10  CH2O                            2111 non-null   float64
 11  SCC                             2111 non-null   object
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CALC                            2111 non-null   object
 15  MTRANS                          2111 non-null   object
 16  NObeyesdad                      2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

Mengubah attribute age menjadi int64 dari float64

In [216]:
dataChangeCopy = dataChangeCopy['Age'].astype('int64')

Mengecek kembali apakah type data attribut telah berubah

In [217]:
dataChangeCopy.info()

<class 'pandas.core.series.Series'>
RangeIndex: 2111 entries, 0 to 2110
Series name: Age
Non-Null Count  Dtype
--------------  -----
2111 non-null   int64
dtypes: int64(1)
memory usage: 16.6 KB

### ONE HOT ENCODING

In [228]:
#Membuat salinan data agar tidak merusak dataset yang asli
dataHotEncode = df.copy()

Memanggil Fungsi OneHotEncoder

In [218]:
OHencoder = OneHotEncoder(sparse=False)

menggunakan fit_transform untuk mendapatkan hasil encode dan membuat hasil encode tadi bertipe data int64

In [220]:
dataTemp = OHencoder.fit_transform(dataHotEncode[['NObeyesdad']]).astype('int64')

Format hasil encoding sebelumnya ke Data Frame

In [229]:
dataTemp = pd.DataFrame(dataTemp)

Menghapus attibut NObeyesdad

In [224]:
dataHotEncode.drop('NObeyesdad', axis=1, inplace=True)

Menyatukan data salinan dengan hasil encode yang telah diubah ke data frame

In [225]:
dataHotEncode = dataHotEncode.join(dataTemp)

Merename attribut encoding agar lebih mudah dibaca

In [230]:
dataHotEncode.rename(columns={0:'Insufficient_Weight',1:'Normal_Weight',2:'Overweight_Level_I',3:'Overweight_Level_II',4:'Obesity_Type_I',5:'Obesity_Type_II',6:'Obesity_Type_III'})

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III