Mengimport Pandas

In [7]:
import pandas as pd

Menampilkan dan Mengimport dataset menggunakan dataFrame

In [11]:
ds = pd.read_csv('BigBazaar.csv')
ds

,Name,Brand,Price,DiscountedPrice,BreadCrumbs,Category,SubCategory,Quantity,Description,LongDescription
0,Glass Water Tumbler Set - Acme Elite,Treo,550,299.0,Serveware / Dining & Serving,Serveware,Dining & Serving,6*300 ml,,Design:Made from premium quality Glass
1,Papad Plain,NILGIRIS,85,42.5,Packaged Food / Pickles & Papads,Packaged Food,Pickles & Papads,200 g,Nilgiris plain papad can be enjoyed when you'r...,Nilgiris plain papad can be enjoyed when you'r...
2,Papad Plain,NILGIRIS,45,22.5,Packaged Food / Pickles & Papads,Packaged Food,Pickles & Papads,100 ml,Nilgiris plain papad can be enjoyed when you'r...,Nilgiris plain papad can be enjoyed when you'r...
3,Smart Kit With Bag,Doms,500,499.0,Stationery / Art & Craft Supplies,Stationery,Art & Craft Supplies,1 Pcs,,Smart Kit With Bag Ideal for gifting
4,6.2 kg Top Loading Fully Automatic Washing Mac...,KORYO,"15,000.00",10490.0,Home Appliances / Home & Kitchen Appliances,Home Appliances,Home & Kitchen Appliances,1 pcs,,One Touch Smart Wash Button8 Wash ProgramsMagi...
...,...,...,...,...,...,...,...,...,...,...
26940,Cashew Value Pack,KARMIQ,135,109.0,Staples / Dry Fruits & Nuts / Festive Store,Staples,Festive Store,100 g,,Karmiq Cashews come with a naturally sweet fla...
26941,Mid Rise Printed Dhoti Pants,DJ & C,749,374.5,Kids,Kids,NaN,15-16 Yrs,Up the style quotient of your little girl's ca...,Fabric & Care:Made of 100% Cotton FabricDo not...
26942,Ujjaini Poha,ektaa,90,66.0,Staples / Other Cereals,Staples,Other Cereals,1 kg,,Ektaa brings to you authentic foods from diver...
26943,Ujjaini Poha,ektaa,45,39.0,Staples / Other Cereals,Staples,Other Cereals,500 g,,Ektaa brings to you authentic foods from diver...
26944,Button Closer Ladies Wallet,Ivory Tag,499,499.0,Women,Women,NaN,S,,a. BI-Fold Wallet with coin Pocket.b. 5 card ...

**Ketentuan Analisis Dataset**

- Informasi yang didapatkan adalah jumlah record, nama attribute, jumlah attribute dengan tipe objek, jumlah attribute dengan tipe angka, jumlah attribute yang memiliki nilai null.
- Masukkan informasi di atas dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.
- Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.
- Tampilkan nilai korelasi attribute bertipe angka.
- Rubah nilai salah satu attribute bertipe angka menjadi desimal 3 angka dibelakang koma jika tidak ada, lakukan sebaliknya (dari desimal menjadi bilangan bulat).
- Tampilkan 10 record pertama dari attribute bertipe angka.
- Simpan dataset dengan attribute bertipe angka ke dalam file CSV.

**Membuat Variabel yang menyimpan data - data yang diperlukan sesuai dengan spesifikasi posttest**

In [20]:
total_record = len(ds)
attribute_name = ds.columns
total_obj_attribute = len(ds.select_dtypes(include=['object']).columns)
total_number_attribute = len(ds.select_dtypes(include=['int64', 'float64']).columns)
total_null_attribute = len(ds.columns[ds.isna().sum() > 0])

**Memindahkan semua variabel tadi kedalam dictionary**

In [30]:
data = {
    "Total Record": total_record,
    "Attribute Name": attribute_name.to_list(),
    "Total Object Attribute": total_obj_attribute,
    "Total Number Attribute": total_number_attribute,
    "Total NULL Attribute" : total_null_attribute,
}

**Menampilkan data dalam bentuk dictionary menggunakan looping for items()**

In [31]:
for column, value in data.items():
    print(column,':',value)

Total Record : 26945
Attribute Name : ['Name', 'Brand', 'Price', 'DiscountedPrice', 'BreadCrumbs', 'Category', 'SubCategory', 'Quantity', 'Description', 'LongDescription']
Total Object Attribute : 9
Total Number Attribute : 1
Total NULL Attribute : 5

**Menampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.**

**Describe adalah sebuah fungsi untuk melakukan perhitungan statistikal pada attribute bertipe angka**

**Menggunakan loc agar menampilkan yang diperlukan saja**

In [ ]:
ds.describe().loc[['mean', 'std', 'max', '25%', '50%', '75%']]

      DiscountedPrice
mean       541.095255
std       1181.252033
max      94990.000000
25%        209.300000
50%        399.000000
75%        629.100000

**Menggunakan fungsi .corr untuk menampilkan nilai korelasi antara attribute bertipe angka**

In [46]:
ds.corr()

                 DiscountedPrice
DiscountedPrice              1.0

**Mengubah Salah satu Attribute Angka menjadi desimal 3 angka dibelakang koma**

In [50]:
ds['DiscountedPrice']*0.001

0         0.2990
1         0.0425
2         0.0225
3         0.4990
4        10.4900
          ...
26940     0.1090
26941     0.3745
26942     0.0660
26943     0.0390
26944     0.4990
Name: DiscountedPrice, Length: 26945, dtype: float64

**Menampilkan 10 record dari pertama dari Attribute Angka saja**

**Menggunakan fungsi head() untuk menampilkan 10 data pertama**

**Menggunakan Include agar setiap attribute yang bertipe angka terpanggil**

In [52]:
number_attribute = ds.select_dtypes(include=['int64', 'float64'])
number_attribute.head(10)

   DiscountedPrice
0            299.0
1             42.5
2             22.5
3            499.0
4          10490.0
5            130.0
6             95.0
7            189.0
8              9.0
9            168.0

**Memindahkan Dataset yang berattribute angka ke file csv**

**Menggunakan fungsi to_csv**

In [56]:
number_attribute.to_csv('BigBazaar_Number_Version.csv', index=False)

**Bonus Menampilkan file csv yang baru dibuat**

In [58]:
dsn = pd.read_csv('BigBazaar_Number_Version.csv')

In [59]:
dsn

       DiscountedPrice
0                299.0
1                 42.5
2                 22.5
3                499.0
4              10490.0
...                ...
26940            109.0
26941            374.5
26942             66.0
26943             39.0
26944            499.0

[26945 rows x 1 columns]